html, body, div, span, object, iframe, img, strong, b, u, i, table, tbody, tfoot, thead, td, th, tr form, label, legend, header, footer, article, section, aside { margin: 0; padding: 0; border: 0; vertical-align: baseline; background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

input:focus, select:focus, textarea:focus, button:focus { outline: none; }

html, body { width: 100%; height: 100%; }

.clear { clear: both; font-size: 0; }

.clearfix::after { clear: both; content: ""; display: table; }

* { box-sizing: border-box; }

button { cursor: pointer; }

input[type="button"], input[type="submit"] { cursor: pointer; }

table, td, th, tr { border-collapse: collapse; border-spacing: 0; }

input, select, textarea, button { font-family: arial, helvetica, sans-serif; font-weight: 400; color: #000; }

body { font-family: "Source Sans Pro", Arial, "Nimbus Sans L", sans-serif; color: #76b2be; background: #29606b; font-size: 16px; line-height: 1.3; min-width: 320px; }

.container { min-width: 320px; max-width: 1170px; margin: 0 auto; }

.btn { display: inline-block; border: 2px solid #fff; font-family: "Fjalla One", sans-serif; font-weight: 400; font-size: 17px; line-height: 42px; text-decoration: none; color: #fff; text-transform: uppercase; text-align: center; padding: 0 31px 0 35px; margin: 0 56px 50px 0; position: relative; background: transparent; }
@media screen and (max-width: 460px) { .btn { font-size: 14px; padding: 0 10px 0 10px; line-height: 26px; margin: 0 28px 0 0; } }
.btn.btn--red { background: #e84c3d; border: #e84c3d; }
.btn.btn--red::after, .btn.btn--red::before { border-color: #e84c3d transparent transparent transparent; }
.btn.btn--yellow { background: #fdbd1f; border: #fdbd1f; }
.btn.btn--yellow::after, .btn.btn--yellow::before { border-color: #fdbd1f transparent transparent transparent; }
.btn.btn--sea-green { background: #1bbc9b; border: #1bbc9b; }
.btn.btn--sea-green::after, .btn.btn--sea-green::before { border-color: #1bbc9b transparent transparent transparent; }
.btn.btn--green { background: #245963; border: #245963; }
.btn.btn--green::after, .btn.btn--green::before { border-color: #245963 transparent transparent transparent; }

.btn::before, .btn::after { content: ""; width: 0; height: 0; border-style: solid; border-width: 12px 12px 0 12px; border-color: #fff transparent transparent transparent; position: absolute; left: 43%; right: auto; top: auto; bottom: -12px; }

.btn::after { position: absolute; left: 43%; right: auto; top: auto; bottom: -10px; border-color: #7a8e82 transparent transparent transparent; }

.title__item::before { content: ""; width: 100px; height: 100px; border-radius: 50%; background-color: #fff; margin: 0 0 0 -50px; position: absolute; left: 50%; right: auto; top: 58px; bottom: auto; }
.title__item.title__item--chat::before { background-image: url(../img/sprite-ic-content.png); background-repeat: no-repeat; background-position: 50% 10px; }
.title__item.title__item--pensil::before { background-image: url(../img/sprite-ic-content.png); background-repeat: no-repeat; background-position: 50% -70px; }
.title__item.title__item--crown::before { background-image: url(../img/sprite-ic-content.png); background-repeat: no-repeat; background-position: 50% -150px; }
.title__item.title__item--user::before { background-image: url(../img/sprite-ic-content.png); background-repeat: no-repeat; background-position: 50% -230px; }

.item_block.item_block--red { background: #e84c3d; }
.item_block.item_block--yellow { background: #fdbd1f; }
.item_block.item_block--sea-green { background: #1bbc9b; }
.item_block.item_block--purple { background: #9b58b5; }

.item_content.item_content--red { border-top: 5px solid #e84c3d; }
.item_content.item_content--yellow { border-top: 5px solid #fdbd1f; }
.item_content.item_content--sea-green { border-top: 5px solid #1bbc9b; }

.ic--fb, .ic--tw { width: 36px; height: 36px; border-radius: 50%; display: inline-block; background: #fff; }

.ic--fb { background-image: url(../img/sprite_ic_footer.png); background-repeat: no-repeat; background-position: 50% 0px; }

.ic--tw { background-image: url(../img/sprite_ic_footer.png); background-repeat: no-repeat; background-position: 50% -51px; }

.header { background-color: rgba(41, 96, 107, 0.5); background-size: 100% 100%; z-index: 10; border: 2px solid #245963; position: relative; }

.site_name { float: left; font-weight: normal; padding: 0; margin: 0; }

.header_logo { display: block; font-family: "Fjalla One", sans-serif; font-size: 26px; text-decoration: none; padding: 27px 0 0 0; margin: 0; color: #fff; }

.header__menu { display: block; float: right; position: static; width: auto; background: transparent; z-index: 10; padding: 6px 50px 4px 0; margin: 0; }
@media screen and (max-width: 460px) { .header__menu { display: none; width: 200px; position: absolute; top: 73px; right: 0; z-index: 10; background: #245963; } }

.menu__list { margin: 0; padding: 0; list-style: none; }

.menu__point { display: inline-block; margin: 0; padding: 0; }
@media screen and (max-width: 460px) { .menu__point { display: block; } }

.menu__link { display: inline-block; font-family: "Fjalla One", sans-serif; padding: 27px 8px 27px 27px; color: #fff; font-size: 17px; text-decoration: none; font-weight: 400; }
@media screen and (max-width: 460px) { .menu__link { display: block; padding: 15px 10px; color: #fff; } }

.menu-btn { float: right; width: 70px; height: 73px; position: relative; display: none; background: #245963; }
@media screen and (max-width: 460px) { .menu-btn { display: block; margin: 0; } }

.menu-btn__inner { width: 18px; height: 2px; background: #fff; position: absolute; top: 50%; left: 50%; margin: -1px 0 0 -9px; }

.menu-btn__inner::before, .menu-btn__inner::after { content: ""; width: 18px; height: 2px; background: #fff; position: absolute; left: 0; }

.menu-btn__inner::before { top: -5px; }

.menu-btn__inner::after { bottom: -5px; }

.menu__btn--is-active .menu-btn__inner { background: transparent; }

.menu__btn--is-active::before { transform: rotate(45deg); top: 0; }

.menu__btn--is-active::after { transform: rotate(90deg); bottom: 0; }

.footer { background: #245963; text-align: center; }

.sotial { text-align: center; color: #fff; padding: 37px 0 12px 0; margin: 0 0 51px 0; }

.sotial::before { content: ""; width: 280px; height: 1px; color: #2c6772; position: absolute; left: 50%; right: auto; top: 100%; bottom: auto; margin: 0 0 0 -140px; }

.email, .phone { display: inline-block; font-size: 15px; line-height: 40px; vertical-align: middle; }
@media screen and (max-width: 460px) { .email, .phone { display: block; margin: 10px 0; } }

.email { padding: 0; margin: 0; }

.phone { padding: 0; margin: 0; }

.icon { display: inline-block; vertical-align: middle; }

.ic--fb { margin: 0 7px 0 37px; }

.ic--tw { margin: 0 37px 0 7px; }

.txt-footer { padding: 0 0 38px 0; }
@media screen and (max-width: 460px) { .txt-footer { font-size: 10px; } }

.design { display: inline-block; color: #c3a038; }

.banner_block { background: url(../img/bg-1.jpg) 0 0 no-repeat; background-size: 100% 100%; text-align: center; margin: -93px 0 0 0; }

.banner_info { text-align: center; padding: 225px 0 162px 0; }
@media screen and (max-width: 460px) { .banner_info { padding: 100px 0 50px 0; } }

.title_banner { font-family: "Fjalla One", sans-serif; font-weight: 400; text-transform: uppercase; letter-spacing: 4px; word-spacing: 25px; font-size: 41px; line-height: 47px; padding: 0 0 22px 0; margin: 0; }
@media screen and (max-width: 460px) { .title_banner { font-size: 26px; line-height: 32px; } }

.txt_banner { font-family: "Fjalla One", sans-serif; font-size: 31px; text-transform: uppercase; line-height: 30px; letter-spacing: 4px; word-spacing: 34px; font-weight: 400; padding: 0 0 24px 0; margin: 0 0 0 0; }
@media screen and (max-width: 460px) { .txt_banner { font-size: 20px; line-height: 26px; } }

.txt_banner__btn::after { position: absolute; left: 43%; right: auto; top: auto; bottom: -10px; border-color: #7a8e82 transparent transparent transparent; }
@media screen and (max-width: 460px) { .txt_banner__btn::after { border-color: #78766d transparent transparent transparent; } }

.items_block { width: 100%; display: flex; flex-wrap: wrap; margin: -78px 0 0 0; }
@media screen and (max-width: 768px) { .items_block { width: 90%; margin: 0 5% 10px 5%; } }

.item_block { width: 50%; text-align: center; }
@media screen and (max-width: 460px) { .item_block { width: 90%; margin: 0 5% 10px 5%; } }

.title__item { font-family: "Fjalla One", sans-serif; font-weight: 400; text-transform: uppercase; font-size: 29px; line-height: 35px; color: #fff; padding: 183px 0 6px 0; margin: 0; position: relative; }

.txt-item { line-height: 20px; font-weight: 400; padding: 0 139px 53px 127px; margin: 0 0 0 0; color: #fff; }
@media screen and (max-width: 768px) { .txt-item { padding: 0 10px 15px 10px; } }

.content_block { text-align: center; color: #fff; }

.title_content { font-family: "Fjalla One", sans-serif; font-weight: 400; text-transform: uppercase; font-size: 29px; line-height: 35px; padding: 78px 0 9px 0; margin: 0; }
@media screen and (max-width: 460px) { .title_content { font-size: 18px; line-height: 24px; } }

.subtitle_content { font-family: "Fjalla One", sans-serif; font-size: 21px; text-transform: uppercase; line-height: 27px; font-weight: 400; padding: 0; margin: 0 0 65px 0; position: relative; }
@media screen and (max-width: 460px) { .subtitle_content { font-size: 16px; line-height: 22px; } }

.subtitle_content::before, .subtitle_content::after { content: ""; width: 120px; height: 1px; background: #2c6772; }
@media screen and (max-width: 1100px) { .subtitle_content::before, .subtitle_content::after { width: 40px; } }
@media screen and (max-width: 768px) { .subtitle_content::before, .subtitle_content::after { content: none; } }

.subtitle_content::before { position: absolute; left: 20%; right: auto; top: 24%; bottom: auto; }

.subtitle_content::after { position: absolute; left: 69%; right: auto; top: 24%; bottom: auto; }
@media screen and (max-width: 1100px) { .subtitle_content::after { position: absolute; left: 75%; right: auto; top: 24%; bottom: auto; } }

.items_content { width: 100%; display: flex; }
@media screen and (max-width: 992px) { .items_content { width: 90%; flex-wrap: wrap; margin: 0 5%; } }

.item_content { width: 32.1%; margin: 0 0 112px 24px; padding: 46px 0 0 0; text-align: center; background: #245963; }
@media screen and (max-width: 992px) { .item_content { width: 43%; } }
@media screen and (max-width: 460px) { .item_content { width: 90%; margin: 0 5% 10px 5%; } }

.photo { width: 182px; height: 182px; border-radius: 50%; background-color: #fff; overflow: hidden; margin: 0 0 0 94px; }
@media screen and (max-width: 992px) { .photo { margin: 0 20% 0 20%; width: 50%; height: auto; } }
@media screen and (max-width: 460px) { .photo { margin: 0 0 0 94px; } }

.face { width: 100%; height: auto; display: block; }

.txt_item_content { line-height: 26px; color: #76b2be; padding: 28px 30px 32px 33px; margin: 0 0 0 0; }

.item_content__btn { font-size: 15px; line-height: 36px; padding: 0 42px 0 21px; margin: 0 0 65px 0; }

.item_content__btn::before, .item_content__btn::after { position: absolute; left: 33%; right: auto; top: auto; bottom: -10px; }

.item_content__btn::after { position: absolute; left: 33%; right: auto; top: auto; bottom: -8px; }

.contact_block { text-align: center; color: #fff; }

.contact_block__title_content { position: relative; padding: 96px 0 9px 0; margin: 0 0 0 0; }

.contact_block__title_content::before { content: ""; width: 100px; height: 100px; border-radius: 50%; background: #fff url(../img/ic-contact.png) 50% 50% no-repeat; position: absolute; left: 50%; right: auto; top: -34px; bottom: auto; margin: 0 0 0 -50px; }

.form_block { width: 61%; margin: 0 auto; text-align: center; }
@media screen and (max-width: 992px) { .form_block { width: 90%; } }

.form { max-width: 570px; margin: 0 auto; }
@media screen and (max-width: 460px) { .form { max-width: 290px; } }

.form__row { display: block; margin: 0 0 30px 0; width: 270px; }
@media screen and (max-width: 1100px) { .form__row { width: 47%; } }
@media screen and (max-width: 1100px) and (max-width: 460px) { .form__row { width: 100%; margin: 0 0 20px 0; } }

.form__row--big { width: 570px; }
@media screen and (max-width: 1100px) { .form__row--big { width: 100%; } }

.form-row--flright { float: right; margin: 0 0 30px 30px; }
@media screen and (max-width: 460px) { .form-row--flright { float: left; margin: 0 0 20px; } }

.form-row--flleft { float: left; margin: 0 0 30px 0; }

.form__field { background: #245963; padding: 0 5px; border: 1px solid #2c6772; }

.form__field--w100 { height: 50px; width: 100%; }

.form__field--w200 { width: 100%; height: 123px; resize: none; }

.form__btn { margin: 0 0 20px 0; padding: 0 21px 0 21px; }
